<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ptu_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ptu_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeProject"
        tools:targetApi="31">
        <!-- Inside the <application> tag -->
        <receiver android:name=".WifiStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".csem3"
            android:exported="false" />
        <activity
            android:name=".Displaygpa"
            android:exported="false" />
        <activity
            android:name=".ccgpa"
            android:exported="false" />
        <activity
            android:name=".Displaycgpa"
            android:exported="false" />
        <activity
            android:name=".csem1"
            android:exported="false" />

        <service
            android:name=".Download"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".data.NotesProvider"
            android:authorities="in.edu.ptuniv.data.NotesProvider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name=".Syllabus_activity"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem12"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem3"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem4"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem5"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem6"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem7"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".sem8"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".pec"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".honours"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".overview"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.CollegeProject" />
        <activity
            android:name=".about"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".favourites"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".cgpacalculator"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".previousyearquestionpaper"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".syllabus"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".notes"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>